html {
  margin: auto;
  line-height: 1.75;
  font-size: 1.1em;

}

.content{
  background: #4f5967;
  }

 .header{
  background: #c452e0;
  }

  .link-black{
  color:#efe2e2;
  text-decoration: underline
  }

  .link-black:hover{
    color: white;
    }

    .details-iframe{
      width:90%;
      height:70vh;
      margin-left:5%;
      margin-right:5%;

    }

   .posel-details-iframe{
      width:100%;
      height:70vh;
      margin-left:1%;
      margin-right:1%;
       margin-top:10px;
    }


.accordion-button:not(.collapsed){
background-color:#c452e061 !important;
}

.card-posel{
width: 18rem !important;
display:inline-block !important;
}

@media (max-width: 800px) {
  .card-posel{
    width: 13rem !important;
    display:inline-block !important;
}
}
