{% extends 'base.html' %} {% block content %}

<div class="row content" style="padding-top:10px">
    <div class="row">
        <div class="col-12 ">
            <p style="color:#efe2e2;background:#c452e0;border:solid;border-width:1px;border-style:dotted">Sejm.info to
                strona która zawiera streszczenia druków sejmowych przygotowywanych przez posłów i senatorów ze
                wszystkich
                klubów parlamentarnych. Druki sejmowe składają się często z dużej ilości stron co sprawia, że trzeba
                mieć sporo zapału aby je czytać. W dodatku aby je przeczytać najpierw trzeba znaleźć interesujący nas
                dokument na stronie sejmu
                co jest dodatkowym,
                czasochłonnym zajęciem. Obserwuj sejm.info by być na bieżąco z tym co dzieje się w sferze ustawodawczej
                naszego kraju. Jak wiesz media pokazują tylko to co
                chcą i
                nigdy nie są obiektywne. Dzięki tej prostej stronie sami możemy zobaczyć nad czym pracuje sejm i śledzić
                proces legislacyjny projektów, które nas interesują a potem wyciągnąć własne wnioski bez zbędnej
                narracji. Nas- obywateli i mieszkańców.</p>

            <p style="color:#efe2e2;background:#c452e0;border:solid;border-width:1px;border-style:dotted">Hashtagi -
                każdy wpis na stronie opatrzony jest tzw. hashtagami które w 1 słowie opisują co zawiera dany druk.
                Dzięki temu łatwiej znajdziesz to, co cię interesuje.</p>

            <p style="color:#efe2e2">Ostatnia aktualizacja : {{last_update_date}}</p>
            <a href="https://twitter.com/sejm_info"
               style="color:#efe2e2;text-decoration: underline;margin-bottom:10px">Kontakt
                poprzez
                Twitter</a>
        </div>
    </div>

</div>
{% endblock %}