{% extends 'base.html' %} {% block content %}

<div class="row content" style="padding-top:10px">
    <div class="row">
        <div class="col-12 ">
            <p style="color:#efe2e2;background:#c452e0;border:solid;border-width:1px;border-style:dotted">Sejm.info
                skupia się na dostarczaniu informacji o sejmie w prostej i dostępnej dla każdego formie. Strona
                przedstawia projekty ustaw w streszczonej formie gdy te tylko pojawią się na stronie sejmu czyli jeszcze
                zanim proces legislacyjny wejdzie w kolejne fazy np. głosowanie w sejmie. Dzięki temu obserwując
                stronę możesz być świadomy tego co dzieje się w sferze ustawodawczej naszego kraju, jeszcze zanim media
                przedstawią dany temat dodając swój nie do końca obiektywny komentarz.</p>
            <p style="color:#efe2e2;background:#c452e0;border:solid;border-width:1px;border-style:dotted;margin-top:5px">
                Sejm.info zawiera również
                listę posłów ze zdjęciami z podziałem na klub parlamentarny oraz okręg wyborczy.</p>

            <p style="color:#efe2e2;background:#c452e0;border:solid;border-width:1px;border-style:dotted">Hashtagi -
                każdy wpis na stronie opatrzony jest tzw. hashtagami które w 1 słowie opisują co zawiera dany druk.
                Dzięki temu łatwiej znajdziesz to, co cię interesuje.</p>

            <p style="color:#efe2e2">Ostatnia aktualizacja : {{last_update_date}}</p>
            <p style="color:#efe2e2">Sejm.info korzysta z publicznie dostępnych informacji znalezionych na oficjalnej
                stronie sejmu:
                https://www.sejm.gov.pl oraz w zasobach API: https://api.sejm.gov.pl/index.html</p>
            <a href="https://twitter.com/sejm_info"
               style="color:#efe2e2;text-decoration: underline;margin-bottom:10px">Kontakt
                poprzez
                Twitter</a>
        </div>
    </div>

</div>
{% endblock %}