{% extends 'base.html' %} {% block content %}

<div class="row content" style="padding-top:10px">
    <div class="row">
        <div class="col-12">
            <p style="color:#efe2e2">Poniżej znajduje się streszczenie druku sejmowego. Do wyboru masz wersję krótką
                oraz w miarę możliwości długą. Na dole zobaczysz także przebieg procesu legislacyjnego związanego z
                oglądanym
                drukiem
                sejmowym.</p>

            <div class="accordion" id="accordionExample" style="margin-top:3vh">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Streszczenie Krótkie
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                         data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>
                                {{summary}}</p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Streszczenie Długie
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                         data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>
                                {{long_summary}}</p>
                        </div>
                    </div>
                </div>

            </div>


            <p style="color:#efe2e2; margin-top:3vh">Całość projektu można znaleźć <a class="link-black" href="{{url}}">na
                stronie
                sejmowej druku {{project_id}}</a> a poniżej można zobaczyć przebieg <a class="link-black"
                                                                                       href="{{process_url}}">powiązanego
                procesu legislacynego</a> (<- kliknij jeśli nie widzisz tego fragmentu poniżej)</p>
            <iframe class="details-iframe" src="{{process_url}}" title="Przebieg procesu legislacyjnego"></iframe>
        </div>
    </div>

</div>
{% endblock %}